body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slideshowContainer {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

#slideshowImage {
    max-width: 200px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.footer{
  text-align: center;
  margin-top: auto;
  padding: 20px;
  font-size: 18px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.buttonContainer {
  margin-top: 10px;
  
}

#caption {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
}
