.warning {
    color:red;
}

form#myform {
  border: 1px solid black;
  padding: 1px;
  margin: 60px;
  background-color: #d6f8f7;
  text-align: center;
}

.myform {
  text-align: center; 
  margin: 60px;
  padding: 1px;
  border: 1px solid black; 
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}

footer a img {
  width: 150px;
  margin: 0 10px;
  border: 1px solid black;
}

footer a {
  display: inline-block;
}
